.carousel-inner > div > div {
	width: 18rem;
}

.carousel-inner > div > div > img {
	height: 150px;
}

nav img {
	width: 5.25rem;
}

.h-75{
	min-height: 75vh;
}

main form input{
	margin-right: .25rem!important;
}